body {
    background: #282828;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}
h1 {
    color: #a8f420;
}
header {
    background: black;
    padding: 20px;
}
body.sudoku {
    display: flex;
}
button.square {
    background: white;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-size: 30px;
    height: 60px;
    padding: 0px;
    width: 60px;
}
main {
    background-color: #4D4B57;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: 1080px;
}
nav {
    font-size: 20px;
}
/* HERO SECTION */
div.hero {
    /* to see the space the div takes up */
    border: #282828 dashed 2px;
    border-radius: 20px;
}
h1.hero {
    font-size: 50px;
    margin: 0;
}
p.hero {
    margin: 0;
}
/* Links */
a:link,
a:visited {
    color: #a8f420;
    text-decoration: none;
}
a:hover,
a:active {
  color: white;
}
.board {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: auto; /* centers the board on the screen */
}
.boardRow {
    display: flex;
}
.box {
    color: black;
    border-width: 2px;
}
.buttonFlex:active {
    background: #eaeaea;
    border-style: outset;
    border-width: 2px;
}
.buttonFlex:hover {
    background: #e1e1e1;
}
.card {
    background: #373540;
    border-color: #282828;
    border-radius: 20px;
    border-style: dashed;
    border-width: 2px;
    padding: 10px 20px 20px 20px;
}
.links {
    background-color: #4D4B57;
    border-radius: 20px;
    padding: 10px 20px;
}
.row {
    display: flex;
}
#boxA {
    border-style: none solid solid none;
}
#boxB {
    border-style: none none solid none;
}
#boxC {
    border-style: none none solid solid;
}
#boxD {
    border-style: none solid none none;
}
#boxF {
    border-style: none none none solid;
}
#boxG {
    border-style: solid solid none none;
}
#boxH {
    border-style: solid none none none;
}
#boxI {
    border-style: solid none none solid;
}
.two-part {
    display: flex;
}