body {
    background: #282828;
    display: flex;

}
button {
    background: white;
    color: black;
    font-size: 24px;
    height: 60px;
    padding: 0px;
    width: 60px;
}
.board {
    border-color: black;
    border-style: solid;
    /* centers the board on the screen */
    margin: auto;
}
.row {
    display: flex;
    /* centers the rows on the board */
    justify-content: center;
}